In [3]:
# uploaded on Github
import pandas as pd
df=pd.read_csv("videosUS.csv")

In [4]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [5]:
df.isna()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41410,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41411,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
41412,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41413,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41414,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
print (df.isnull().sum()) 
#Listwise deletion: df.dropna(inplace=true) 
# the first is not valide and the third is not valide

video_id                     0
trending_date              466
title                      466
channel_title              466
category_id                466
publish_time               466
tags                       466
views                      466
likes                      466
dislikes                   466
comment_count              466
thumbnail_link             466
comments_disabled          466
ratings_disabled           466
video_error_or_removed     466
description               1036
dtype: int64

In [17]:
df.dropna(inplace=True)
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [8]:
df_numerci_comlumn=df._get_numeric_data()
df_numerci_comlumn

       category_id       views     likes  dislikes  comment_count
0             22.0    748374.0   57527.0    2966.0        15954.0
1             24.0   2418783.0   97185.0    6146.0        12703.0
2             23.0   3191434.0  146033.0    5339.0         8181.0
3             24.0    343168.0   10172.0     666.0         2146.0
4             24.0   2095731.0  132235.0    1989.0        17518.0
...            ...         ...       ...       ...            ...
41409         22.0   8259128.0  645888.0    4052.0        62610.0
41410         15.0   1685609.0   38160.0    1385.0         2657.0
41412         24.0   1066451.0   48068.0    1032.0         3992.0
41413          1.0   5660813.0  192957.0    2846.0        13088.0
41414         20.0  10306119.0  357079.0  212976.0       144795.0

[40379 rows x 5 columns]

In [9]:
liste =df_numerci_comlumn.columns.tolist() 
print(liste)
for x in liste: 
    print(x+' '+str(df[x].mean()))

['category_id', 'views', 'likes', 'dislikes', 'comment_count']
category_id 19.94425320092127
views 2370838.716833007
likes 74616.77275316378
dislikes 3508.1219693404987
comment_count 8287.396196042497

In [10]:
for x in liste:
    print(x+' '+str(df[x].median()))

category_id 24.0
views 689597.0
likes 18371.0
dislikes 637.0
comment_count 1874.0

In [11]:
for x in liste:
    print(x+' '+str(df[x].std()))
# c'est la standard deviation

category_id 7.594849923157311
views 7428515.361046633
likes 229617.24377897754
dislikes 23174.860675471537
comment_count 34316.04573401493

In [12]:
df.quantile([.1, .25, .5, .75], axis = 1)

,0,1,2,3,4,5,6,7,8,9,...,41404,41405,41406,41407,41408,41409,41410,41412,41413,41414
0.10,1199.6,2472.8,2149.4,280.8,810.0,221.2,802.4,328.0,48.2,560.2,...,15751.2,1672.4,932.4,328.4,6403.2,1634.0,563.0,427.2,1139.0,57930.0
0.25,2966.0,6146.0,5339.0,666.0,1989.0,511.0,1970.0,778.0,119.0,1363.0,...,39363.0,4166.0,2295.0,806.0,15993.0,4052.0,1385.0,1032.0,2846.0,144795.0
0.50,15954.0,12703.0,8181.0,2146.0,17518.0,1434.0,2445.0,3432.0,340.0,2368.0,...,42833.0,15169.0,2861.0,1591.0,52432.0,62610.0,2657.0,3992.0,13088.0,212976.0
0.75,57527.0,97185.0,146033.0,10172.0,132235.0,9763.0,15993.0,23663.0,3543.0,12654.0,...,628861.0,210802.0,46351.0,45128.0,676467.0,645888.0,38160.0,48068.0,192957.0,357079.0

In [13]:
df.quantile([.1, .25, .5, .75], axis = 0) 
#quartiles of each numerical variable within this dataset

      category_id      views    likes  dislikes  comment_count
0.10         10.0    73304.2   1210.8      60.0          165.0
0.25         17.0   247076.0   5621.5     205.0          623.0
0.50         24.0   689597.0  18371.0     637.0         1874.0
0.75         25.0  1834912.5  55672.0    1948.0         5787.0

In [14]:
df_numerci_comlumn.quantile([.1, .25, .5, .75], axis = 0) 
# i can also do this since i did the filter of the numerical columns

      category_id      views    likes  dislikes  comment_count
0.10         10.0    73304.2   1210.8      60.0          165.0
0.25         17.0   247076.0   5621.5     205.0          623.0
0.50         24.0   689597.0  18371.0     637.0         1874.0
0.75         25.0  1834912.5  55672.0    1948.0         5787.0

In [15]:
df['sales_zscore']=(df.NA_sales-df.NA_sales.mean())/df.NA_sales.std()
# i leave it to remember my mistake and don't repeat it again

AttributeError: 'DataFrame' object has no attribute 'NA_sales'

In [ ]:
df['likes_zscore']=(df.likes-df.likes.mean())/df.likes.std()
df2=df[df['likes_zscore']>3]
print(df['likes_zscore'])

In [ ]:
print(df2)
# ci-dessous les outliers de la colone'likes' dans notre dataset

In [ ]:
df['category_id_zscore']=(df.category_id-df.category_id.mean())/df.category_id.std()
df3=df[df['category_id_zscore']>3]
print(df['category_id_zscore'])

In [ ]:
print(df3)

In [ ]:
df['views_zscore']=(df.views-df.views.mean())/df.views.std()
df4=df[df['views_zscore']>3]
print(df['views_zscore'])

In [ ]:
print(df4)

In [ ]:
df['dislikes_zscore']=(df.dislikes-df.dislikes.mean())/df.dislikes.std()
df5=df[df['dislikes_zscore']>3]
print(df['dislikes_zscore'])

In [ ]:
print(df5)

In [ ]:
df['comment_count_zscore']=(df.comment_count-df.comment_count.mean())/df.comment_count.std()
df6=df[df['comment_count_zscore']>3]
print(df['comment_count_zscore'])

In [ ]:
print(df6)

In [ ]:
print(df.columns.tolist())
# we print the columns

In [ ]:
y=pd.get_dummies(df.likes,prefix='likes') 
print(y)

In [ ]:
data_clean=df[df['likes_zscore']<3.all(axis=1)]
# i tried to do an opposite operation of the previous

In [ ]:
#How we can remove the outliers ?!!
#what do you want to say by unique categories ?!!

In [ ]:
print(pd.unique(df['views']))
# show not be applied

In [ ]:
df['category_id'].unique()
# show the list of the unique categories values of the column views

In [ ]:
len(df['category_id'].unique())

In [ ]:
liste2=df.columns.tolist()
for x in liste2:
    print(len(pd.unique(df[x])))
# show not be applied

In [ ]:
liste2=df.columns.tolist()
s=0
for x in liste2:
    s = s + len(pd.unique(df[x]))
print(s)
# show not be applied

In [ ]:
#Is there any column that we need to adjust its type ?
# yeah, we still have other columns with categorical values that we need to change the value's type of their variables

In [ ]:
print(df['tags'])
df['tags'].tolist()

In [ ]:
df['tags'].value_counts()
print((df['tags'].value_counts()))
# none is a tag ? because it's the most common value